    <!-- Team Section -->
    <section id="team" class="content-section text-center">
        <div class="team-section">
            <div class="container">
                <div class="col-lg-12">
                	<h2>Team Members</h2>
                	<!--Row 1-->
                    <div class="row">
                    	<div class="col-sm-5" style="background-color: rgba(0, 0, 0, 0.25);">
                    		<!--Column 1-->
                    		<div class="row">
                    			<!--Noah Fahlgren-->
                    			<div class="col-xs-4">
                    				<img src="{{ site.url }}/img/nfahlgren.jpg" class="img-responsive img-rounded">
                    			</div>
                    			<div class="col-xs-8 text-left">
									<p><strong>Noah Fahlgren</strong><br>Director and Principal Investigator<br><a href="{{ site.url }}/nfahlgren">Research</a></p>
                    			</div>
                    		</div>
                    	</div>
                    	<div class="col-sm-2"></div>
                    	<div class="col-sm-5" style="background-color: rgba(0, 0, 0, 0.25);">
                    		<div class="row">
                    			<!--Josh Rothhaupt-->
                    			<div class="col-xs-4">
                    				<img src="{{ site.url }}/img/jrothhaupt.jpg" class="img-responsive img-rounded">
                    			</div>
                    			<div class="col-xs-8 text-left">
                    				<p><strong>Josh Rothhaupt</strong><br>Manager</p>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!--Spacer-->
                    <div class="row"><div class="col-sm-12"><p></p></div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-5" style="background-color: rgba(0, 0, 0, 0.25);">
                    		<!--Column 1-->
                    		<div class="row">
                    			<!--Haley Schuhl-->
                    			<div class="col-xs-4">
                    				<img src="{{ site.url }}/img/hschuhl.jpg" class="img-responsive img-rounded">
                    			</div>
                    			<div class="col-xs-8 text-left">
                    				<p><strong>Haley Schuhl</strong><br>Computational Scientist</p>
                    			</div>
                    		</div>
                    	</div>
                    	<div class="col-sm-2"></div>
                    	<div class="col-sm-5" style="background-color: rgba(0, 0, 0, 0.25);">
                    		<div class="row">
                    			<!--Wenxiao Zhan-->
                    			<div class="col-xs-4">
                    				<img src="{{ site.url }}/img/wzhan.jpg" class="img-responsive img-rounded">
                    			</div>
                    			<div class="col-xs-8 text-left">
                    				<p><strong>Wenxiao Zhan</strong><br>Computational Scientist</p>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!--Spacer-->
                    <div class="row"><div class="col-sm-12"><p></p></div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-5" style="background-color: rgba(0, 0, 0, 0.25);">
                    		<!--Column 1-->
                    		<div class="row">
                    			<!--Seth Polydore-->
                    			<div class="col-xs-4">
                    				<img src="{{ site.url }}/img/spolydore.jpg" class="img-responsive img-rounded">
                    			</div>
                    			<div class="col-xs-8 text-left">
                    				<p><strong>Seth Polydore</strong><br>Postdoctoral Associate</p>
                    			</div>
                    		</div>
                    	</div>
                    	<div class="col-sm-2"></div>
                    	<div class="col-sm-5" style="background-color: rgba(0, 0, 0, 0.25);">
                    	</div>
                    </div>
                    <!--Spacer-->
                    <div class="row"><div class="col-sm-12"><p></p></div>
                    </div>
                    <h2>Previous Team Members</h2>
                    <!--Row 1-->
                    <div class="row">
                    	<div class="col-sm-5" style="background-color: rgba(0, 0, 0, 0.25);">
                    		<!--Column 1-->
                    		<div class="row">
                    			<!--Arash Abbassi-->
                    			<div class="col-xs-4">
                    				<img src="{{ site.url }}/img/aabbasi.png" class="img-responsive img-rounded">
                    			</div>
                    			<div class="col-xs-8 text-left">
                    				<p><strong>Arash Abbasi</strong><br>
                    					Assistant Professor, Dakota State University
                    				</p>
                    			</div>
                    		</div>
                    	</div>
                    	<div class="col-sm-2"></div>
                    	<div class="col-sm-5" style="background-color: rgba(0, 0, 0, 0.25);">
                    		<div class="row">
                    			<!--Michael Miller-->
                    			<div class="col-xs-4">
                    				<img src="{{ site.url }}/img/mmiller.jpg" class="img-responsive img-rounded">
                    			</div>
                    			<div class="col-xs-8 text-left">
                    				<p><strong>Michael Miller</strong><br>Graduate Student, Cornell University</p>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!--Spacer-->
                    <div class="row"><div class="col-sm-12"><p></p></div>
                    </div>
                    <!--Row 2-->
                    <div class="row">
                    	<div class="col-sm-5" style="background-color: rgba(0, 0, 0, 0.25);">
                    		<!--Column 1-->
                    		<div class="row">
                    			<!--Alex Pokorny-->
                    			<div class="col-xs-4">
                    				<img src="{{ site.url }}/img/apokorny.png" class="img-responsive img-rounded">
                    			</div>
                    			<div class="col-xs-8 text-left">
                    				<p><strong>Alex Pokorny</strong><br>
                    					Graduate Student, Illinois State University
                    				</p>
                    			</div>
                    		</div>
                    	</div>
                    	<div class="col-sm-2"></div>
                    	<div class="col-sm-5" style="background-color: rgba(0, 0, 0, 0.25);">
                    		<div class="row">
                    			<!--Monica Tessman-->
                    			<div class="col-xs-4">
                    				<img src="{{ site.url }}/img/mtessman.jpg" class="img-responsive img-rounded">
                    			</div>
                    			<div class="col-xs-8 text-left">
                    				<p><strong>Monica Tessman</strong><br>Software Developer, Bayer Crop Science</p>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <a href="#research" class="btn btn-circle page-scroll">
            			<i class="fa fa-angle-double-down animated"></i>
        			</a>
                </div>
            </div>
        </div>
    </section>
