    <!-- About Section -->
    <section id="about" class="container content-section text-justify">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Data Science Facility</h2>
                <p>The Data Science Facility at the Donald Danforth Plant Science Center 
                is a computing and data analytics hub that develops and deploys 
                technologies in computer science, mathematics, and statistics to 
                accelerate discoveries from data and models in plant science.</p>
                <p>Physically, the facility supports computing through several 
                modalities: 1) high-performance computing and workflow management on an 
                HTCondor cluster; 2) virtualized applications using machine- and 
                container-level virtualization; 3) web/database applications and support. 
                Currently, the infrastructure contains over 1300 processing cores and 
                2800 graphics processing cores, more than 8 terabytes of memory, and a 
                single, high-performance 721 terabyte storage area network. These 
                resources are shared in a managed, multi-user environment and communicate 
                via a 10 gigabit Ethernet network. Management of the system is simplified 
                through virtualization of key services, which also allows for the 
                deployment of diverse applications and platforms simultaneously.</p>
                <p>Services offered by the Data Science Facility include 1) user 
                services: authentication services/user accounts, software installation, 
                patches and upgrades, troubleshooting, advising, Slack (virtual help 
                desk), GitHub (version control), training (system usage, specific 
                software, workflows), documentation, and outreach; 2) computing: cluster 
                resources, web server hosting, database server hosting, 
                maintenance/upgrades, system monitoring, and virtual machine and 
                container management; 3) storage: monitoring, performance configuration, 
                and maintenance. Additionally, the facility consults on the development 
                of computational, data analysis, and experimental design components of 
                proposals and assists with editing of computational and statistical 
                analysis sections of manuscripts. The core facility also offers analysis 
                services, ranging from whole project consulting to individual analyses.
                </p>
                <p>Intellectual development is offered by members of the facility through 
                regular workshops and training events, custom application development for 
                lab or group projects, and community-based sharing of software, ideas, 
                and methods. In addition, the facility enhances interaction between 
                groups at the center and partner institutions and facilitates 
                interoperation between local computing and storage resources and 
                public/private cloud/cyberinfrastructures such as Amazon Web Services, 
                CyVerse, and Open Science Grid.</p>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-8 col-lg-offset-2 text-center">
        		<a href="#team" class="btn btn-circle page-scroll">
            		<i class="fa fa-angle-double-down animated"></i>
        		</a>
        	</div>
        </div>
    </section>
